 {%load static %}



				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Günün Ürünleri</h2>
						{% for rs in daybooks %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{ rs.image.url  }}" alt="" height="300"/>
											<h2>{{ rs.price }}</h2>
											<p>{{ rs.title }}</p>
											<a href="/book/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Görüntüle</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>{{ rs.price }}</h2>
												<p>{{ rs.title }}</p>
												<a href="/book/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Görüntüle</a>
											</div>
										</div>
								</div>

								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>

{% endfor %}
					</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->

						<div class="col-sm-12">
							<h2 class="title text-center">Son Ürünler</h2>

						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tshirt" >
								{% for rs in lastbooks %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ rs.image.url }}" alt="" height="300"/>
												<h2>{{ rs.price }}</h2>
												<p>{{ rs.title }}</p>
												<a href="/book/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Görüntüle</a>
											</div>
											
										</div>
									</div>
								</div>
	{% endfor %}
							</div>

						</div>
					</div><!--/category-tab-->

					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Sizin İçin Önerilenler</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{% for rs in randombooks %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ rs.image.url }}" alt="" height="300"/>
													<h2>{{ rs.price }}</h2>
													<p>{{ rs.title }}</p>
													<a href="/book/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Görüntüle</a>
												</div>
												
											</div>
										</div>
									</div>
									{% endfor %}


								</div>
								<div class="item">
									{% for rs in randombooks %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ rs.image.url }}" alt="" height="300"/>
													<h2>{{ rs.price }}</h2>
													<p>{{ rs.title }}</p>
													<a href="/book/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Görüntüle</a>
												</div>

											</div>
										</div>
									</div>
										{% endfor %}


								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
