{% extends "homebase.html" %}

{% block title %} Hakkımızda-{{ setting.company }} {% endblock %}
{% block keywords %}{{ setting.keywords }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}


{% block head %}

 <link rel="shortcut icon" type='image/x-icon' href='{{setting.icon.url}}'>

{% endblock %}


{% block content %}


    	<div class="bg">
	    	<div class="row">
	    		<div class="col-sm-12">
					<h2 class="title text-center">Hakkımızda</h2>
					<div id="gmap" class="contact-map">
							{{ setting.aboutus | safe }}

					</div>
				</div>

			</div>

    	</div>




{% endblock %}
