{% extends "homebase.html" %}

{% block title %} User Profile {% endblock %}
{% block keywords %}{{ setting.keywords }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}


{% block head %}

 <link rel="shortcut icon" type='image/x-icon' href='{{setting.icon.url}}'>

{% endblock %}


{% block content %}


    <div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">
	    		<div class="col-sm-12">
					<h2 class="title text-center">User Profile</h2>
					<div id="gmap" class="contact-map">

	    		<div class="col-sm-4">
	    			<div class="contact-form">
	    				<h2 class="title text-center">User Panel</h2>
						 {% include "user_panel.html" %}

	    			</div>
	    		</div>
	    		<div class="col-sm-8">
	    			<div class="contact-info">
	    				<h2 class="title text-center">User Information</h2>

							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li>
										<table>
											<tr>
												<th class="text-letf">	<a href="update/">Update Profile</a></a>
											<a href="password/">Change Password</a></button></th>
											<td><img src="{{ profile.image.url }}"  alt=""  height="150" width="150" ></td>
											</tr>
										</table>
									</li>
									<li><a href=""> <span class="pull-right">{{ profile.user_name }}</span>Name Surname</a></li>
									<li><a href=""> <span class="pull-right">{{ profile.user.email }}</span>Email</a></li>
									<li><a href=""> <span class="pull-right">{{ profile.phone }}</span>Phone</a></li>
									<li><a href=""> <span class="pull-right">{{ profile.address }}</span>Address</a></li>
									<li><a href=""> <span class="pull-right">{{ profile.city }}</span>City</a></li>
									<li><a href=""> <span class="pull-right">{{ profile.country }}</span>Country</a></li>

								</ul>
							</div>





	    			</div>
    			</div>


					</div>
				</div>
			</div>



    	</div>
    </div><!--/#contact-page-->





{% endblock %}




