{% extends "homebase.html" %}
{% load static %}
{% block title %} Order Book {% endblock %}
{% block keywords %}{{ categorydata.keywords }}  {% endblock %}
{% block description %} {{ categorydata.description }}  {% endblock %}


{% block head %}

 <link rel="shortcut icon" type='image/x-icon' href='{{setting.icon.url}}'>

{% endblock %}


{% block content %}


    	<div class="col-sm-12 padding-right">
	    	<div class="row">
	    		<div class="col-sm-12">
					<h2 class="title text-center">Order Book</h2>
					 {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="alert alert-{{message.tags}}" role="alert" style="display: none"></div>
                                                        {{ message }}
    												 {% endfor %}
                    {% endif %}
                    			<div class="shopper-informations">
				<div class="row">

					<div class="col-sm-6">

						<div class="shopper-info">
							<p>Shipping Details</p>

							<form action="" method="post">
								{% csrf_token %}


									<input type="text" name="first_name" value="{{ user.first_name }}" placeholder="First Name">
									<input type="text" name="last_name" value="{{ user.last_name }}" placeholder="Last Name">
									<input type="text" name="address" value="{{ profile.address }}" placeholder="Address">
									<input type="text" name="phone" value="{{ profile.phone }}" placeholder="Phone">
									<input type="text" name="country" placeholder="Country" value="{{ profile.country}}" >
									<select name="city" id="id_city" placeholder="City">
										<option value="{{ profile.city }}" selected>{{ profile.city }}</option>
										<option>İstanbul</option>
										<option>Ankara</option>
										<option>İzmir</option>
										<option>Antalya</option>

									</select>
								<button class="btn btn-primary" type="submit">Complete Order</a></button>
							</form>

						</div>
					</div>
					<div class="col-sm-6">
						<div class="shopper-info">
							<p>Information Shipping</p>
								<form>
										<input type="text"  name="total" class="input" readonly value="${{ total }}" placeholder="Total">
									<input type="text" name="holder" placeholder="Credit Card Holder">
									<input type="text" name="number" placeholder="Credit Card Number">
									<input type="text" name="ecpdate" placeholder="Credit Exp Date/Year(mm/yy)">
									<input type="text" name="secnumber" placeholder="Security Number">

							</form>


						</div>
					</div>

				</div>
			</div>



			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">

			                	<section id="cart_items">
                            <div class="container">

                                <div class="table-responsive cart_info">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr class="cart_menu">
                                                <td class="image">Item</td>
                                                <td class="description"></td>
                                                <td class="price">Price</td>
                                                <td class="quantity">Quantity</td>
                                                <td class="total">Total</td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody>
												{% for rs in schopcart %}
                                            <tr>

                                                <td class="cart_product">
                                                    <a href="/book/{{ rs.id }}/{{ rs.slug }}"> <img src="{{ rs.book.image.url }}" style="" alt="" height="100"></a>
                                                </td>
                                                <td class="cart_description">
                                                    {{ rs.book.title }}
                                                </td>
                                                <td class="cart_price">
                                                    <p>{{ rs.price }}</p>
                                                </td>
                                                <td class="cart_quantity">
                                                    <div class="cart_quantity_button">
                                                        <a class="cart_quantity_up" href=""> + </a>
                                                        <input class="cart_quantity_input" type="text" name="quantity" value="{{ rs.quantity }}" autocomplete="off" size="2">
                                                        <a class="cart_quantity_down" href=""> - </a>
                                                    </div>
                                                </td>
                                                <td class="cart_total">
                                                    <p class="cart_total_price">{{ rs.amount }}</p>
                                                </td>
                                                    {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="alert alert-{{message.tags}}" role="alert" style="display: none"></div>
                                                        {{ message }}

                                                    {% endfor %}
                                                	{% endif %}
                                                <td class="cart_delete">
                                                    <a class="cart_quantity_delete" href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Delete!Are you sure?')"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
	        </section> <!--/#cart_items-->

			</div>

		</div>
	</section> <!--/#cart_items-->






					</div>
				</div>

			</div>

    	</div>




{% endblock %}
